services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=todolist-db'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=password'
    ports:
      - '5432:5432'
    volumes:
    - postgres-data:/var/lib/postgresql
    networks:
      - todo-network
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres -d todolist-db " ]
        interval: 5s
        timeout: 5s
        retries: 5
        start_period: 5s
  
  backend:
    build: 
      context: ./backend-java/
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/
      # - BD_HOST=postgresql
      - DB_NAME=todolist-db
      - DB_USER=postgres
      - DB_PASSWORD=password
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - todo-network
  
  frontend:  
    build:
      context: ./frontend-react/
    ports:
      - "3000:80"
    networks:
      - todo-network
    depends_on:
      - backend
networks:
  todo-network:
    driver: bridge

volumes:
  postgres-data: