name: CI - Fullstack App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    name: Build & Test Backend
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: todolist-db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Set up Maven
        run: mvn -version

      - name: Build e teste 
        working-directory: ./backend-java
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/
          DB_USER: postgres
          DB_PASSWORD: password
          DB_NAME: todolist-db
        run: mvn clean verify -DskipTests=false

      - name: Criando JAR
        working-directory: ./backend-java
        run: mvn package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: backend-java/target/*.jar

  frontend:
    name: Build Frontend
    runs-on: ubuntu-latest
    needs: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: frontend-react/package-lock.json

      - name: Install dependencies
        working-directory: ./frontend-react
        run: npm ci

      - name: Build frontend
        working-directory: ./frontend-react
        run: npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend-react/dist

